<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Stok_ve_Satış_Takip_Sistemi.Properties.Settings.StokSatisConnectionString"
            connectionString="Data Source=DESKTOP-OU0MFLR;Initial Catalog=StokSatis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>